.contact-container {
    background: url('../images/CityNight.jpg') no-repeat center center/cover;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.touch {
    font-family: "Satoshi", sans-serif;
    font-size: 0.8rem;
    color: var(--primary);
    border-left: 1px solid var(--primary);
    padding-left: 0.5rem;
    font-weight: 300;
}

.contact-form {
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: auto;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box > label {
    font-size: 14px;
    font-weight: 300;
    color: var(--border);
}

.input-box > input {
    font-family:  var(--font-main);
    font-weight: 300;
    width: 20rem;
    padding: 0.5rem;
    color: var(--light);
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1.5px solid var(--border);
}

input:active {
    border: none;
}

.form-btn {
    display: flex;
    align-items: center;
    font-family: "kanit", sans-serif;
    font-size: 1rem;
    color: var(--light);
    border: 0.5px solid var(--border);
    background-color: transparent;
    padding: 0.5rem 1.8rem;
    &:hover {
        cursor: pointer;
        color: var(--darker);
        background-color: var(--primary);
    }
}

.checkbox-box {
    gap: 0.5rem;
    display: flex;
}

.checkbox-box > input {
    background: transparent;
}