.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* padding: 1rem 0; */
  transition: all 0.3s ease;
  background: transparent;
  border-bottom: 0.5px solid var(--gray-dark);
}

.header.scrolled {
  background: transparent;
  backdrop-filter: blur(15px);
  box-shadow: var(--shadow);
}

.nav-container {
  /* padding: 0.5rem 0; */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;

  margin-left: 13rem;
  align-items: center;
  height: 100%;
  text-decoration: none;
  border-right: 0.5px solid var(--gray-dark);
}

.logo-text {
  font-family: var(--font-logo);
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--light);
  letter-spacing: 5px;
  line-height: 10px;
  text-align: center;
  padding: 0 2rem;
}

.logo-text span {
  font-size: 0.5rem;
  padding: 0;
  /* border-top: 0.3px solid var(--light); */
  color: var(--light);
}

.desktop-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-actions {
  text-decoration: none;
  display: flex;
  padding-right: 10rem;
  align-items: center;
  border-left: 0.5px solid var(--gray-dark);
  height: 100%;
  &:hover {
    color: var(--dark);
    background-color: var(--primary);
  }
}

.contact-btn {
  width: 100%;
  background: none;
  border: none;
  color: var(--light);
  font-size: 1;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  text-decoration: none;
}

.contact-btn:hover {
  color: var(--dark);
  background: var(--primary);
}

.cart-btn {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 0.2rem 0.4rem;
  color: var(--dark);
  font-size: 0.7rem;
  border-radius: 50%;
  font-weight: 600;
  background: var(--secondary);
}

.mobile-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--light);
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  background: rgba(15, 23, 42, 0.95);
  backdrop-filter: blur(20px);
  border-radius: 0.5rem;
  border: 1px solid var(--gray-dark);
}

.mobile-nav-link {
  color: var(--light);
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-family: var(--font-cinematic);
  font-size: 1.1rem;
}

.mobile-nav-link:hover,
.mobile-nav-link.active {
  background: var(--primary);
  color: white;
}

@media (max-width: 768px) {
  .logo {
    border: none;
  }

  .desktop-nav {
    display: none;
  }
  
  .mobile-toggle {
    display: block;
  }
  
  .mobile-nav {
    display: flex;
  }
}